apiVersion: v1
kind: PersistentVolume
metadata:
  name: filestore-pv
  labels:
    type: nfs
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  nfs:
    path: /vol1
    server: 10.5.104.250
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filestore-pvc
  namespace: blockchain-microservices
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  storageClassName: "" 